$white: hsl(0, 0%, 100%);
$grey: hsla(0, 0%, 100%, 0.784);
$dark-grey: hsla(0, 2%, 40%, 0.084);
$brighter-blue: hsl(240, 50%, 50%);
$blue: hsl(265, 99%, 38%);
$dark-blue: hsl(240, 40%, 10%);
$purple: hsl(288, 100%, 50%);
$dark-purple: hsla(265, 99%, 38%, 0.733);